.feedbackcompany-small-score .rating-summary {
    float: left;
    margin-right: 10px;
}

.feedbackcompany-small-score p {
    display: block;
    padding: 4px;
    margin-bottom: 0;
}

.feedbackcompany-big-score {
    background: #f8f8f8 url(../images/tfbc_brand.png) no-repeat top 27px left 43px;
    background-size: 155px;
    padding: 12px;
    width: 240px;
    height: 165px;
}

.feedbackcompany-big-score p {
    display: block;
}

.feedbackcompany-big-score .score {
    font-weight: 700;
    font-size: 16px;
    display: block;
}

.feedbackcompany-big-score .text {
    display: block;
    font-size: 13px;
    margin-top: 8px;
}

.feedbackcompany-big-score {
    width: 100%;
    text-align: center;
    background-position: center 27px;
    height: auto;
    background-color: #ffffff;
}

.feedbackcompany-big-score .review {
    padding: 15px 25px;
    max-width: 1200px;
    margin: auto;
    border-top: 1px solid rgba(126, 128, 126, 0.28);
}

.feedbackcompany-big-score .review>div {
    padding: 10px 0 0;
}

.feedbackcompany-big-score .review .name {
    font-size: 1.4em;
}

.feedbackcompany-big-score .review .name::before {
    content: '-';
    padding-right: 0.4em;
}

.feedbackcompany-big-score>div>.rating-summary {
    margin-top: 80px;
    margin-bottom: 5px;
}

.feedbackcompany-big-score .rating-summary .rating-result>span:before {
    color: #fecd58;
}
